.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem 6.4rem;
  background-color: #1c7253;

  &__btns {
  }

  &__icon {
    height: 2.2rem;
    width: 2.2rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    &--plus:hover {
    }

    &--bookmark {
    }

    &:not(:last-child) {
      margin-right: 3.2rem;
    }
  }
}
