.search-form {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  flex-basis: 50%;

  &__input {
    padding: 1.4rem 3.2rem;
    border-radius: var(--border-radius-normal);
    border: none;
    outline: none;
    font-size: 1.8rem;
    flex-basis: 90%;
    color: #333;
    transition: all 0.3s;

    &:focus {
      transform: scaleX(1.1);
    }

    &,
    &::placeholder {
      font-family: inherit;
      font-weight: inherit;
      color: #777;
    }
  }
}
